<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ghost Kitchen</title>
</head>
<body>
<div class="topnav">
    <h1>Ghost Kitchen</h1>
    <a href="/">Home</a>
    <a href="/order">Order Now</a>
    <a class="active" href="/restaurant">For Restaurants</a>
    <a href="/user">For Customers</a>
    <a href="/displayCart">Cart</a>
</div>
<div class="container">
    <form class="flex-v" method="post" th:action="${givenAction}">
        <p>Edit any desired fields here, then confirm.</p>
        <div class="flex-h">
            <label>Item Name:</label>
            <input type="text" name="iName" placeholder="Item Name" th:value="${givenItemName}"> <br><br>
        </div>
        <div class="flex-h">
            <label>Item Description:</label>
            <input type="text" name="desc" placeholder="Description" th:value="${givenDescription}"><br><br>
        </div>
        <div class="flex-h">
            <label>Price:</label>
            <input type="number" min="0" name="price" placeholder="" th:value="${givenPrice}"><br><br>
        </div>
        <div class="flex-h">
            <input type="submit" value="Confirm Edit">
            <input type="hidden" name="rId" th:value="${givenrId}">
            <input th:formaction="${givenAction2}" type="submit" value="Delete Item">
        </div>
    </form>
</div>
</body>
</html>