<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ghost Kitchen</title>
</head>
<body>
<div class="topnav">
    <h1>Ghost Kitchen</h1>
    <a href="/">Home</a>
    <a href="/order">Order Now</a>
    <a class="active" href="/restaurant">For Restaurants</a>
    <a href="/user">For Customers</a>
    <a href="/displayCart">Cart</a>
</div>
<div class="container">
    <div class="flex-v">
        <div th:each="menuItem : *{menuItems}">
            <div class="flex-h">
                <form method="get" th:action="@{/EditMenuItem/{id}(id = ${menuItem.id})}">
                    <button style="width:300px;" type="submit" value="Submit">
                        <p class="buttontext" th:text="${menuItem.Name}"></p></br>
                        <p class="buttontext" th:text="${menuItem.Description}"></p></br>
                        <p class="buttontext" >$<span th:text="${menuItem.Price}"></span>0</p>
                    </button>
                </form>
            </div>
        </div>
        <div class="flex-h">
            <a class="button" style="width:30%;" th:href="@{/restaurant/{id}/newMenuItem(id = ${givenrName})}">Add Menu Item</a>
        </div>
    </div>
</div>
</body>
</html>