<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ghost Kitchen</title>
</head>
<body>
<div class="topnav">
    <h1>Ghost Kitchen</h1>
    <a href="/">Home</a>
    <a class="active" href="/order">Order Now</a>
    <a href="/restaurant">For Restaurants</a>
    <a href="/user">For Customers</a>
    <a href="/displayCart">Cart</a>
</div>
<div class="container">
    <div  class="flex-v" th:each="restaurant : *{restaurants}">
        <div class="flex-h">
            <a class="button" style="width:30%;" th:href="@{/order/{id}/showMenu(id = ${restaurant.rName})}" th:text="${restaurant.rName}"></a>
        </div>
    </div>
</div>
</body>
</html>