<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ghost Kitchen</title>
</head>
<body>
<div class="topnav">
    <h1>Ghost Kitchen</h1>
    <a href="/">Home</a>
    <a href="/order">Order Now</a>
    <a class="active" href="/restaurant">For Restaurants</a>
    <a href="/user">For Customers</a>
    <a href="/displayCart">Cart</a>
</div>
<div class="container">
    <form class="flex-v" method="post" th:action="${givenAction}">
        <div class="flex-h">
            <label>UserName:</label>
            <input type="text" name="uName" placeholder="Username" th:value="${givenUsername}"> <br><br>
        </div>
        <div class="flex-h">
            <label>Password:</label>
            <input type="password"name="psw" placeholder="Password" th:value="${givenPassword}"><br><br>
        </div>
        <div class="flex-h">
            <label>First Name:</label>
            <input type="text" name="rName" placeholder="Restaurant Name" th:value="${givenrName}"><br><br>
        </div>
        <div class="flex-h">
            <input type="submit" value="Register">
        </div>
    </form>
</div>
</body>
</html>